<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets> 
    <target name="ServerReceive"
        xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/ServerReceive.txt"
        layout="${longdate} | ${level:uppercase=true} | ${message} ${newline}" />
    <target name="ServerWork"
        xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/ServerWork.txt"
        layout="${longdate} | ${level:uppercase=true} | ${message} ${newline}" />
    <target name="ServerError"
        xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/ServerError.txt"
        layout="${longdate} | ${level:uppercase=true} | ${message} ${newline}" />
  </targets>

  <rules>
    <logger name="ServerReceive" levels="Debug, Info" writeTo="ServerReceive" />
    <logger name="ServerWork" levels="Debug, Info" writeTo="ServerWork" />
    <logger name="ServerError" levels="Warn, Error" writeTo="ServerError" />
  </rules>
</nlog>