<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="MonitorAP_Socket_Log"
      xsi:type="File"
      fileName="${basedir}/Logs/${shortdate}/MonitorAP_Socket.txt"
      layout="${longdate} | ${level:uppercase=true} | ${message} ${newline}" />
    <target name="MonitorAP_Log"
      xsi:type="File"
      fileName="${basedir}/Logs/${shortdate}/MonitorAP.txt"
      layout="${longdate} | ${level:uppercase=true} | ${message} ${newline}" />
    <target name="MonitorAP_Send_Log"
      xsi:type="File"
      fileName="${basedir}/Logs/${shortdate}/MonitorAP_Send.txt"
      layout="${longdate} | ${level:uppercase=true} | ${message} ${newline}" />
    
    <target name="MonitorWeb_Log"
        xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/MonitorWeb.txt"
        layout="${longdate} | ${level:uppercase=true} | ${message} ${newline}" />

  </targets>

  <rules>
    <logger name="MonitorAP_Socket_Log" levels="Debug, Info, Error" writeTo="MonitorAP_Socket_Log" />
    <logger name="MonitorAP_Send_Log" levels="Debug, Info, Error" writeTo="MonitorAP_Send_Log" />
    <logger name="MonitorAP_Log" levels="Debug, Info, Error" writeTo="MonitorAP_Log" />
    <logger name="MonitorWeb_Log" levels="Debug, Info, Error" writeTo="MonitorWeb_Log" />
  </rules>
</nlog>