<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Schedules.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- WS Timeout (秒)-->
    <add key="WSTimeout" value="120" />
    <!--墨棒冬季赛-->
    <add key="season" value="2014" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <Schedules.Properties.Settings>
      <!-- 測試機 -->
      <setting name="Schedules_ScheduleWS_ScheduleService" serializeAs="String">
        <value>http://216.12.194.212:8899/ScheduleService.asmx</value>
      </setting>
      <setting name="Schedules_TeamWS_TeamService" serializeAs="String">
        <value>http://216.12.194.212:8899/TeamService.asmx</value>
      </setting>
      <setting name="Schedules_CommonWS_CommonService" serializeAs="String">
        <value>http://216.12.194.212:8899/CommonService.asmx</value>
      </setting>
      <!-- 正式機 -->
      <!--<setting name="Schedules_ScheduleWS_ScheduleService" serializeAs="String">
        <value>http://192.155.210.186:8899/ScheduleService.asmx</value>
      </setting>
      <setting name="Schedules_CommonWS_CommonService" serializeAs="String">
        <value>http://192.155.210.186:8899/CommonService.asmx</value>
      </setting>
      <setting name="Schedules_TeamWS_TeamService" serializeAs="String">
        <value>http://192.155.210.186:8899/TeamService.asmx</value>
      </setting>-->
    </Schedules.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.6.0" newVersion="1.4.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>