<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--大球比分開啟--><add key="IsEnableBigballRequest" value="true" />

    <!--大球比分address 測試站--><add key="BigballAddress" value="http://216.12.194.212:4050/ashx/sp_jsjg.ashx" />
    <!--大球比分address 正式站-->
    <!--<add key="BigballAddress" value="http://119.81.83.17:5111/company/sp8888_out/sp_jsjg.asp" />-->

    <!--大球比分重送等待時間 預設60秒--><add key="ResendTime" value="60" />
    <!--大球比分重送次數 預設5次--><add key="ResendTimes" value="5" />
  </appSettings>
  <connectionStrings>
    <add name="Sport" connectionString="Data Source=t3.ts33.net;Initial Catalog=SportInfoV5;Persist Security Info=True;User ID=sport888;Password=123123" providerName="SQLNCL11"/>
    <!--<add name="Sport" connectionString="Data Source=119.81.0.147;Initial Catalog=SportInfoV5;Persist Security Info=True;User ID=sport888;Password=SP@1127^1125" providerName="SQLNCL11"/>-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.net>
    <defaultProxy enabled="false">
      <proxy/>
      <bypasslist/>
      <module/>
    </defaultProxy>
    <connectionManagement>
      <add address="*" maxconnection="512"/>
    </connectionManagement>
  </system.net>
</configuration>