<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets> 
    <target name="Request_Log"
        xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/Request_Log.txt"
        layout="${longdate} | ${level:uppercase=true} | ${message} ${newline}" encoding="utf-8"/>
    <target name="Dependency_Log"
        xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/Dependency_Log.txt"
        layout="${longdate} | ${level:uppercase=true} | ${message} ${newline}" encoding="utf-8"/>
    <target name="Change_Log"
        xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/Change_Log.txt"
        layout="${longdate} | ${level:uppercase=true} | ${message} ${newline}" encoding="utf-8"/>
    <target name="Queue_Log"
        xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/Queue_Log.txt"
        layout="${longdate} | ${level:uppercase=true} | ${message} ${newline}" encoding="utf-8"/>

    <target name="Update_Log"
        xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/${event-context:item=GameType}/${event-context:item=Alliance}/${event-context:item=GID}/${event-context:item=LogTime}.txt"
        layout="${longdate} | ${level:uppercase=true} | ${message} ${newline}" encoding="utf-8"/>
    
    <target name="Runs_Log"
        xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/${event-context:item=GameType}/${event-context:item=Alliance}/${event-context:item=GID}/${event-context:item=LogTime}.txt"
        layout="${longdate} | ${level:uppercase=true} | ${message} ${newline}" encoding="utf-8"/>

    <target name="Ready_Log"
        xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/${event-context:item=GameType}/${event-context:item=Alliance}/${event-context:item=GID}/${event-context:item=LogTime}.txt"
        layout="${longdate} | ${level:uppercase=true} | ${message} ${newline}" encoding="utf-8"/>

    <target name="md5_Log"
        xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/${event-context:item=GameType}/${event-context:item=Alliance}/${event-context:item=GID}/${event-context:item=LogTime}.txt"
        layout="${longdate} | ${level:uppercase=true} | ${message} ${newline}" encoding="utf-8"/>
  </targets>

  <rules>
    <logger name="Request_Log" levels="Debug, Info, Warn, Error" writeTo="Request_Log" />
    <logger name="Dependency_Log" levels="Debug, Info, Warn, Error" writeTo="Dependency_Log" />
    <logger name="Change_Log" levels="Debug, Info, Warn, Error" writeTo="Change_Log" />
    <logger name="Update_Log" levels="Debug, Info, Warn, Error" writeTo="Update_Log" />
    <logger name="Queue_Log" levels="Debug, Info, Warn, Error" writeTo="Queue_Log" />
    <logger name="Runs_Log" levels="Debug, Info, Warn, Error" writeTo="Runs_Log" />
    <logger name="Ready_Log" levels="Debug, Info, Warn, Error" writeTo="Ready_Log" />
    <logger name="md5_Log" levels="Debug, Info, Warn, Error" writeTo="md5_Log" />
  </rules>
</nlog>